@page
@using System.Globalization
@model WeatherForecastAPP.Pages.SignInModel
@{
    ViewData["Title"] = "Sign in";
}

@if (TempData.ContainsKey("SignInFailed"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["SignInFailed"]
    </div>
}

<div class="container bg-light rounded-3 p-3">
    <h1>Sign In</h1>
    <form asp-page-handler="signIn" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
